div.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  text-align: center;
  z-index: 999;
}

div.header h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1;
  margin-bottom: 0px;
}

div.header a {
  color: inherit;
  text-decoration: none;
}
