div.strain-details {
  min-height: 100vh;
  margin-top: 10%;
}

div.strain-details img {
  float: left;
}

div.strain-details h1, h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}
