div.strain-card {
  background-color: skyblue;
  float: left;
  margin: 0 6px 12px 6px;
  max-width: 168px;
  overflow-x: hidden;
}

div.strain-card h5 {
  margin-top: 5%;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  line-height: 1;
}

div.strain-card p {
  font-size: smaller;
}

div.strain-card img {
  width: 168px;
  height: 168px;
}
