div.strain-card {
  background-color: skyblue;
  margin: 0 6px 12px 6px;
  width: 168px;
  max-height: 336px;
}

div.strain-card h5 {
  margin-top: 10%;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

div.strain-card p {
  font-size: smaller;
}

div.strain-card img {
  width: 168px;
  height: 168px;
}
